<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Create Admin Account</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Settings 1</a>
                  </li>
                  <li>
                    <a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="close-link">
                  <i class="fa fa-close"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form name="save{className}" (ngSubmit)="save()">
              <fieldset class="form">
                <fieldset class="form">
                  <div class="fieldcontain required">
                    <label for="answer">Answer
                      <span class="required-indicator">*</span>
                    </label>
                    <select required="" name="answer" id="answer" [(ngModel)]="studentAnswer.answer">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                    </select>
                  </div>
                  <div class="fieldcontain required">
                    <label for="question">Question
                      <span class="required-indicator">*</span>
                    </label>
                    <select required="" name="question" id="question" [(ngModel)]="studentAnswer.question">
                      <option *ngFor="let exam of examList" [value]="exam.id" [selected]="studentAnswer.question?.id == exam.id">{{exam.toString()}}</option>
                    </select>
                  </div>
                </fieldset>
              </fieldset>
              <fieldset class="buttons">
                <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->