 <!-- page content -->
 <div class="right_col" role="main">
    <div class="">    
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Create Admin Account</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form class="form-horizontal form-label-left" name="save{className}" (ngSubmit)="save()" novalidate>
                  <span class="section">Account Details</span>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Username <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">            
                      <input required="" name="username" id="username" [(ngModel)]="adminAccount.username" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Password <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">      
                      <input required="" name="password" id="password" [(ngModel)]="adminAccount.password" type="password"  class="form-control col-md-7 col-xs-12" />
                    </div>
                  </div>                 
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Retype Password <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input required="" name="retypePassword" id="retypePassword" [(ngModel)]="adminAccount.retypePassword" type="password" data-validate-linked="password" class="form-control col-md-7 col-xs-12" />
                    </div>
                  </div>        
          
                  <span class="section">Profile Details</span>
          
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Salutation <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select required="" class="form-control" name="salution" id="salution" [(ngModel)]="adminProfile.salutation" class="form-control">
                          <option value="MR">Mr</option>
                          <option value="MS">Ms</option>
                        </select>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">First Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input required="" name="firstName" id="firstName" [(ngModel)]="adminProfile.firstName" type="text" class="form-control col-md-7 col-xs-12"/>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Middle Initial
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="middleInitial" id="middleInitial" [(ngModel)]="adminProfile.middleInitial" type="text" class="form-control col-md-7 col-xs-12"/>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Last Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input required="" class="form-control" name="lastName" id="lastName" [(ngModel)]="adminProfile.lastName" type="text" class="form-control col-md-7 col-xs-12"/>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Nick Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input required="" class="form-control" name="nickName" id="nickName" [(ngModel)]="adminProfile.nickName" type="text" class="form-control col-md-7 col-xs-12"/>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Position <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input required="" class="form-control" name="position" id="position" [(ngModel)]="adminProfile.position" type="text" class="form-control col-md-7 col-xs-12"/>
                    </div>
                  </div>
          
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">                      
                      <input type="submit" class="btn btn-success save" [value]="create ? 'Save' : 'Update'" />
                      <button type="submit" class="btn btn-primary" routerLink="/adminAccount">Cancel</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->








